
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #F4EDD3;
  --light: #A5BFCC;
  --font-color: #7E99A3;
  --dark: #4C585B;
  --button: #213555;
}

body {
  background-color: white;
  font-family: "Poppins", serif;
}
.more-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.product-container {
  padding: 10px;
  min-height: 400px;
  background-color: white;
  margin: 5px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  margin-top: 10px;
  gap: 5px;
}

.name {
  font-size: larger;
  font-weight: 500;
  text-transform: uppercase;
}

.button {
  padding: 10px;
}

.button button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--button);
  border: none;
  text-transform: uppercase;
  color: var(--background);
  
}
.image  {
  background-color: #f9faef;
  padding: 20px 10px 20px 10px;
  text-align: center;
  
}

/* .image img {
  height: 300px;
  width: 150px;
} */
 
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
}
.product-details {
  float: left;
  margin-top: 20px;
}
.button {
  display: flex;
  gap: 20px;
  margin: 10px 0px 0px 0px;
}
.price {
  font-size: 25px;
  padding: 5px 0px;
  font-weight: 500;
}
.delivery-date {
  font-size: large;
}
.bought {
  padding: 5px 0px ;
}
.quantity {
  padding: 5px 0px;
}

.message {
    position: fixed;
    left: 45%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    min-width: 250px;
    min-height: 80px;
    z-index: 999;
    color: rgb(7, 223, 7);
}

