* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.product-info {
    display: grid;
    grid-template-rows: 70px 70px;
    row-gap: 10px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -120px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: -80px;
}

.bottom-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    margin-bottom: 20px;
}

.details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.quantity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

.title {
    font-size: 32px;
    font-weight: 530;
    justify-self: flex-start;
    margin: 10px 0px 0px 60px;
}

.price {
    font-size: 22px;
    margin: 12px;
}

.img img{
    height: 150px;
    width: 75px;
}

.name {
    font-size: 17px;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: start;
}

.quantity button{
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.count{
    font-weight: 600;
}

.order-summary {
    border: 1px solid black;
    height: 400px;
    width: 250px;
    justify-self: center;
    align-content: flex-end;
    border-radius: 5px;
    margin-top: 10px;
    position: sticky;
    top: 0px;
}

.buy {
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 550;
}

.order-summary p {
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 550;
}
.order-summary div {
    position: absolute;
    top: 130px;
    left: 120px;
    font-size: 38px;
}